@use "../global.scss" as *;

$background-input-color: #f5f5f7;
$input-color: #333;
$placeholder-input-color: #999;
$input-focus-color: #fff;
$border-input-color: #007aff;

input {
  @media (max-width: $breakpoint-phone) {
    width: 90vw;
    max-width: 20rem;
    height: 3.5rem;
    padding: 0 1.5rem;

    font-size: 1rem;
    border: 2px solid transparent;
    border-radius: 12px;

    background-color: $background-input-color;
    color: $input-color;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    outline: none;

    &::placeholder {
      color: $placeholder-input-color;
      font-weight: 400;
    }

    &:focus {
      background-color: $input-focus-color;
      border-color: $border-input-color;
      box-shadow: 0 0 0 4px rgba(0, 122, 255, 0.1);
    }
  }
}